backend:
  name: github
  repo: snackbarstudios/haha-studio
  branch: master
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "blog-post",
        }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Featured Post", name: "featuredpost", widget: "boolean" }
      - { label: "Featured Image", name: "featuredimage", widget: image }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list" }

  - name: "projects"
    label: "Projects"
    label_singular: "New Project"
    folder: "src/pages/projects"
    description: "Add new project here that is going to be displayed under Projects category"
    # if create: false only allows single instance entrance
    create: true
    slug: "{{title}}"
    fields:
      - label: 'Related Products'
        name: 'products'
        widget: 'relation'
        multiple: "true"
        collection: 'products'
        searchFields: ['title']
        valueField: 'title'
        displayFields: ['title']
        hint: "Select related products, maximum of four"
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "project-post",
        }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Featured Image", name: "featuredimage", widget: image }
      - { label: "Featured Image Alt", name: "featuredimagealt", widget: string, hint: "Add alternative text for the featured image used by screen readers for people with visual disability" }
      - { label: "Details", name: "details", widget: "markdown"}
      - { label: "Release year", name: "releaseyear", widget: "text"}
      - { label: "Description", name: "description", widget: "markdown"}
      - { label: "Photo Credits", name: "photocredits", widget: "string"}
      - {
          label: Image Gallery,
          label_singular: "New Image",
          name: imagegallery,
          widget: list,
          fields: 
            [
              { label: "Image", name: "image", widget: "image" },
              { label: "Alt Text", name: "alttext", widget: "string" },
            ],
        }
      - { label: "Section title for related products", name: "relatedproductstitle", widget: "string"}

  - name: "products"
    label: "Products"
    label_singular: "New Product"
    folder: "src/pages/products"
    description: "Add new product here that is going to be displayed under Products category"
    # if create: false only allows single instance entrance
    create: true
    slug: "{{title}}"
    fields:
    - label: 'Related Products'
      widget: 'relation'
      name: 'products'
      multiple: "true"
      collection: 'products'
      searchFields: ['title']
      valueField: 'title'
      displayFields: ['title']

    - label: 'Featured Projects'
      name: 'projects'
      widget: 'relation'
      multiple: "true"
      collection: 'projects'
      searchFields: ['title']
      valueField: 'title'
      displayFields: ['title']
      hint: "Select related products, maximum of four"
    - {
        label: "Template Key",
        name: "templateKey",
        widget: "hidden",
        default: "product-post",
      }
    - { label: "Publish Date", name: "date", widget: "datetime" }
    - { label: "Title", name: "title", widget: "string" }
    - { label: "Description", name: "description", widget: "markdown"}
    - { label: "Price", name: "price", widget: "string" }
    - { label: "Product Details", name: "details", widget: "markdown", hint: "Add technical specifications that will be listed under product details"}
    - {
        label: Image Gallery,
        label_singular: "New Image",
        name: imagegallery,
        widget: list,
        fields: 
          [
            { label: "Image", name: "image", widget: "image" },
            { label: "Alt Text", name: "alttext", widget: "string" },
            { label: "Product Color", name: "productcolor", widget: "string", required: false, hint: "If applicable choose corresponding colro to the product. All colors should be unique, if you already tagged another image with this color, please ignore this field " }
          ],
      } 
    - {
        label: Product Colors,
        label_singular: "New Color",
        name: productcolor,
        widget: list,
        fields: 
          [
            { label: "Color Name", name: "colorname", widget: "string" },
            { label: "HEX code", name: "hexcode", widget: "string", hint: "Please add HEX code for the product color starting with #, eg: #C0C6CB " },
          ],
      }     
  
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Landing Page"
        name: "index"
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "index-page",
            }
          - { label: Title, name: title, widget: string }
          - { label: Image, name: image, widget: image }
          - { label: Alt, name: alt, widget: string }
          - { label: Heading, name: heading, widget: string }
          - {
            label: Section,
            name: section,
            widget: list,
            fields:
              [
                { label: Heading, name: heading, widget: string },
                { label: Text, name: text, widget: text },
                { label: Linktitle, name: linktitle, widget: text },
                { label: Image, name: image, widget: image },
                { label: Alt, name: alt, widget: string },
                { 
                  label: 'Page Link', 
                  name: 'pages', 
                  widget: 'relation', 
                  collection: 'pages', 
                  searchFields: ['title'], 
                  displayFields: ['title'],
                  valueField: 'title',
                  hint: "Select which page you want ot link to"
                }
              ],
          }
      - file: "src/content/about/index.md"
        label: "About"
        name: "about"
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "about-page",
            }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown" }
